body {
    margin:10px;
    padding: 10px;
    /*color: black;*/
}
hr  {
    border:solid 1px green;
}

.jumbotron {
    background-color: white;
    border-style:solid;
    border-width: 1px;
    border-color: darkgreen;
    margin-bottom: 20px;

    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);

    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
    zoom: 1;
}
.card {
    background-color: white;
    border-style:solid;
    border: 1px solid rgba(0, 0, 0, .3);
    margin-bottom: 20px;
    margin-right: 10px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;

   
}

input {
    position: relative;
    display: inline-block;
    font-size: 50px;
    box-sizing: border-box;
    transition: .5s;
}

input[type="text"]{
    width: 100%;
    height: 50px;
    border: none;
    padding: 0 20px
}

input[type="month"]{
    width: 100%;
   
}

.fa-search {
    color: green;
    padding-top: 10px;
    font-size: 32px;
}
#FTS{
    width:3em; 
    height:auto; 
    float: right;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#sliders{
    width:6em; 
    height:auto; 
    margin-top:10px;
    text-align: center;
}

#boost{
    width:6em; 
    height:auto; 
    margin-top: 10px;
    text-align: center;
}
#myInput {
    font-size: 2em;
    text-align:left;
    display:block;
}

#box {
    border-radius: 25px;
    border: 1px solid white;
    box-shadow: 0 0 5px gray;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#facet {
    padding-bottom: 25px;
    display: none;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }

input[type="submit"]{
    position: relative;
    left: -5px;
    width: 150px;
    height: 50px;
    border: none;
    /*cursor: pointer;*/
    /*background: blueviolet;*/
    /*color: white;*/
}

input[type="submit"]:hover {
    background: none;
    color: white;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}



@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 970px;
    }
}
@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 1170px;
    }
}
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
    .container-large {
        width: 1500px;
    }
}

.container-small, .container-large {
    max-width: 100%;
}



